<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageEx_OfferCoupon::offercoupon" title="Offer Coupon" module="MageEx_OfferCoupon" sortOrder="51" resource="MageEx_OfferCoupon::offercoupon"/>
        <add id="MageEx_OfferCoupon::showlog" title="Show Log" module="MageEx_OfferCoupon" sortOrder="10" action="MageEx_OfferCoupon/showlog" resource="MageEx_OfferCoupon::showlog" parent="MageEx_OfferCoupon::offercoupon"/>
   </menu>
</config>
